*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  text-align: left;
}

a,
a:hover {
  text-decoration: unset;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  line-height: unset;
  margin: unset;
  padding: unset;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: #1c1c1c;
  text-align: center;
}

.title_left {
  text-align: left;
}

.subtitle {
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #014430;
  text-align: center;
}

.subtitle_left {
  text-align: left;
}

.button {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  padding: 0 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(221.11deg, #01C68B 0%, #004933 100%);
  border: none;
}

.button:hover {
  background: #00976A;
  color: #ffffff;
  cursor: pointer;
}

.button:active {
  background: #014430;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button_download::before {
  content: '';
  width: 16px;
  height: 16px;
  background: url("../images/button/download.svg") center no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.slider-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.slider-wrapper .flickity-enabled .flickity-prev-next-button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid #01C68B;
  color: #01C68B;
}

.slider-wrapper .flickity-enabled .flickity-prev-next-button.previous {
  left: calc(-50px - 30px);
}

.slider-wrapper .flickity-enabled .flickity-prev-next-button.next {
  right: calc(-50px - 30px);
}

.slider-wrapper .flickity-enabled .flickity-prev-next-button .flickity-button-icon {
  width: 15px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider-wrapper .flickity-enabled .flickity-prev-next-button:hover {
  background: linear-gradient(221.11deg, #01C68B 0%, #004933 100%);
  color: #ffffff;
  border: none;
  width: 50px;
  height: 50px;
}

.slider-wrapper .flickity-enabled .flickity-prev-next-button:active {
  background: #014430;
  opacity: 1;
}

.slider-wrapper .flickity-enabled .flickity-prev-next-button:disabled {
  opacity: .3;
  background: transparent;
  color: #00976A;
}

.fade:not(.show) {
  opacity: 0;
}

.fade {
  transition: opacity .15s linear;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.tooltip {
  width: 390px;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(1, 68, 48, 0.25);
}

.tooltip-inner {
  padding: 20px 30px;
  font-size: 13px;
  line-height: 20px;
  color: #1c1c1c;
}

.fancybox-content {
  padding: 0;
}

.fancybox-close-small {
  width: 70px;
  height: 70px;
  padding: 15px !important;
}

.fancybox-close-small svg path {
  fill: #808080;
}

.fancybox-bg {
  background: #014430;
}

.fancybox-is-open .fancybox-bg {
  opacity: .7;
}

.header {
  background: #E6FFF7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.header__row {
  height: 100px;
}

.header__logo {
  max-height: 77px;
}

.header__menu {
  display: flex;
  justify-content: center;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__phone {
  display: flex;
  align-items: center;
}

.header__phone::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../images/header/phone-icon.svg") center no-repeat;
  background-size: contain;
  margin-right: 15px;
}

.header__number {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1c1c1c;
}

.header__callback {
  margin-top: 3px;
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  color: #00976A;
}

.header__callback:hover {
  color: #00976A;
  text-decoration: none;
}

.footer {
  padding: 20px 0;
  background: #014430;
  color: #ffffff;
}

.footer__left {
  display: flex;
  align-items: center;
}

.footer__menu {
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
  padding-right: 80px;
}

.footer__menu::after {
  content: "";
  width: 1px;
  height: 50px;
  background: #E6FFF7;
  opacity: .4;
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
}

.footer__menu-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.footer__contacts {
  padding-top: 24px;
  margin-bottom: -20px;
}

.footer__contact {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.footer__contact-icon {
  width: 17px;
  height: 17px;
  margin-right: 17px;
  flex-shrink: 0;
  margin-top: 3px;
}

.footer__contact-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.footer__copyright-line {
  margin-top: 26px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer__copyright {
  font-size: 14px;
  line-height: 17px;
  opacity: .8;
  margin-right: 75px;
}

.footer__powered-by {
  display: flex;
  margin-right: 30px;
}

.footer__rights {
  font-size: 14px;
  line-height: 17px;
  opacity: .8;
}

.form-modal {
  display: none;
}

.form-modal__content {
  width: 680px;
  background: #E6FFF7;
  padding: 40px 50px 50px;
}

.form-modal__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #1c1c1c;
}

.form-modal__caption {
  margin-top: 18px;
  font-size: 20px;
  line-height: 30px;
  color: #363636;
}

.form-modal__form {
  margin-top: 40px;
}

.form-modal__form-plug {
  height: 178px;
  background: #363636;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.form-modal__agreement {
  margin-top: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #363636;
  opacity: 0.7;
}

.form-modal__button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.desktop-menu {
  display: flex;
  align-items: center;
  height: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop-menu__item {
  display: flex;
  height: 100%;
}

.desktop-menu__link {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 17px;
  border-bottom: 3px solid transparent;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1c1c1c;
}

.desktop-menu__link_active,
.desktop-menu__link:hover {
  border-bottom-color: #E33100;
}

.hero {
  position: relative;
  padding: 126px 0 157px;
  overflow: hidden;
}

.hero_index {
  background: url("../images/hero/map.svg") no-repeat right 54px center;
}

.hero_section {
  background: url("../images/hero/section-bg.png") no-repeat center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  color: #014430;
}

.hero__text {
  margin-top: 40px;
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  color: #363636;
}

.hero__image {
  position: absolute;
  bottom: 70px;
  right: 80px;
}

.hero__image_section {
  right: unset;
  left: 50%;
  top: 50%;
  bottom: unset;
  transform: translateY(-50%);
}

.hero__button {
  margin-top: 70px;
}

.hero__decor {
  position: absolute;
  left: 0;
}

.hero__decor_top {
  top: 0;
}

.hero__decor_bottom {
  bottom: 0;
}

.services {
  padding: 50px 0 56px;
  background: url("../images/services/bg.png");
}

.services__row {
  margin: 40px -15px -50px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.services__item {
  padding-left: 15px;
  padding-right: 15px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.services__icon {
  width: 100px;
  max-width: 100%;
}

.services__caption {
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.services__button {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.production {
  margin-top: 80px;
}

.production__tabs {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
  width: max-content;
}

.production__tab {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #363636;
  padding: 0 30px 6px;
  margin-bottom: -1px;
  border-bottom: 3px solid transparent;
}

.production__tab.active {
  font-weight: 600;
  color: #1c1c1c;
  border-bottom-color: #E33100;
}

.production__content {
  margin-top: 50px;
}

.production__description {
  font-size: 20px;
  line-height: 30px;
  color: #363636;
  margin-bottom: 32px;
}

.production__section {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 2px solid #00976A;
  font-size: 20px;
  line-height: 30px;
  color: #014430;
  text-decoration: underline;
  box-shadow: 0 0 15px rgba(0, 73, 51, 0.2);
  padding: 20px;
  text-align: center;
}

.production__section_disabled {
  border-color: #E0E0E0;
  color: #828282;
  box-shadow: none;
}

.production__section:not(:last-child) {
  margin-bottom: 30px;
}

.production__info {
  padding-left: 100px;
}

.production__image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.production__caption {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #363636;
}

.production__button {
  margin-top: 32px;
}

.stages {
  margin-top: 100px;
  padding: 50px 0;
  background: url("../images/stages/map.png") center no-repeat, #E6FFF7;
  background-size: cover;
  overflow: hidden;
}

.stages__row {
  margin: 60px -35px -50px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
}

.stages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  padding-left: 35px;
  padding-right: 35px;
  position: relative;
  z-index: 2;
  padding-bottom: 50px;
}

.stages__item:not(:last-child) .stages__index::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 50%;
  border-bottom: 1px dashed #E33100;
  z-index: -1;
}

.stages__right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stages__index {
  width: 120px;
  height: 120px;
  background: url("../images/stages/stage-icon.svg") center no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: #014430;
  flex-shrink: 0;
}

.stages__name {
  margin-top: 30px;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #1c1c1c;
}

.stages__description {
  margin-top: 12px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #363636;
}

.advantages {
  margin-top: 100px;
}

.advantages__row {
  margin-top: 60px;
  margin-bottom: -50px;
}

.advantages__item {
  display: flex;
  align-items: start;
  margin-bottom: 50px;
}

.advantages__icon {
  flex-shrink: 0;
  width: 70px;
  height: auto;
}

.advantages__right {
  padding-left: 20px;
  opacity: .9;
}

.advantages__name {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #1c1c1c;
}

.advantages__description {
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #363636;
}

.partners {
  margin-top: 100px;
}

.partners__slider {
  margin-top: 40px;
}

.partners__item {
  width: 200px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.partners__logo {
  max-width: 100%;
  height: auto;
}

.reviews {
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 70px;
  background: url("../images/reviews/bg.png");
}

.reviews__slider {
  margin-top: 40px;
}

.reviews__item {
  width: 25%;
  padding: 0 21px;
  display: flex;
  justify-content: center;
}

.reviews__scan {
  max-width: 100%;
  height: auto;
}

.contacts {
  background: url("../images/contacts/map.jpg") center no-repeat;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contacts__card {
  background: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  padding: 30px 40px 70px;
}

.contacts__title {
  text-align: left;
}

.contacts__list {
  margin-top: 30px;
}

.contacts__item {
  display: flex;
  align-items: start;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__icon {
  width: 20px;
  flex-shrink: 0;
  margin-right: 15px;
  margin-top: 2px;
}

.contacts__text {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #363636;
}

.questions-left {
  padding-top: 50px;
  padding-bottom: 50px;
  background: url("../images/questions-left/bg.jpg") center no-repeat;
  background-size: cover;
}

.questions-left__title {
  text-align: left;
}

.questions-left__caption {
  margin-top: 20px;
  font-size: 20px;
  line-height: 30px;
  color: #363636;
}

.questions-left__form {
  margin-top: 30px;
}

.questions-left__plug {
  height: 50px;
  background: #363636;
  color: #ffffff;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.questions-left__agreement {
  margin-top: 20px;
  font-size: 13px;
  line-height: 19px;
  color: #363636;
  opacity: .7;
}

.products {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.products__decor {
  position: absolute;
}

.products__decor_top {
  top: 0;
  right: 0;
}

.products__decor_left {
  top: 40%;
  left: 0;
}

.products__decor_right {
  right: 0;
  bottom: 0;
}

.products__tabs {
  margin-top: 70px;
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  border-bottom: 1px solid #F2F2F2;
}

.products__tab {
  width: 25%;
  flex-shrink: 0;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-bottom: -1px;
  border-bottom: 3px solid transparent;
}

.products__tab.active {
  border-bottom-color: #E33100;
}

.products__logo {
  max-width: 100%;
  height: auto;
}

.products__content {
  margin-top: 30px;
}

.products__section:not(:last-child) {
  margin-bottom: 50px;
}

.products__section-title {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #363636;
}

.products__section-description {
  font-size: 20px;
  line-height: 30px;
  color: #363636;
  margin-top: 20px;
}

.products__grid {
  display: flex;
  flex-wrap: wrap;
  margin: 30px -12px -40px;
}

.products__item {
  padding: 0 12px;
  margin-bottom: 40px;
  width: 20%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__photo-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-position: center;
  background-size: 184px 184px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__photo {
  max-width: 100%;
  max-height: 100%;
}

.product__name {
  margin-top: 20px;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #014430;
  padding: 0 20px;
}

.product-modal {
  display: none;
}

.product-modal__content {
  width: 1000px;
  display: flex;
  align-items: start;
  background: #E6FFF7;
  overflow: hidden;
  position: relative;
}

.product-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: url("../images/products/modal-close.svg") center no-repeat;
  background-size: contain;
}

.product-modal__left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 348px;
  flex-shrink: 0;
}

.product-modal__decor-left {
  position: absolute;
  left: 0;
  bottom: 0;
}

.product-modal__decor-right {
  position: absolute;
  right: 0;
  top: 0;
}

.product-modal__photo {
  position: relative;
  width: 328px;
  max-width: 100%;
  height: auto;
  z-index: 2;
}

.product-modal__right {
  padding: 40px 70px 70px 24px;
}

.product-modal__title {
  font-weight: bold;
  font-size: 35px;
  line-height: 43px;
  color: #1c1c1c;
}

.product-modal__title_mobile {
  display: none;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.product-modal__description {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
  color: #363636;
}

.product-modal__specs_and_btn {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 40px;
}

.product-modal__specs {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #363636;
  margin-right: 20px;
}

.product-modal__spec:not(:last-child) {
  margin-bottom: 10px;
}

.about {
  padding-top: 70px;
  padding-bottom: 70px;
  background: url("../images/about/bg.png");
}

.about__text {
  margin-top: 33px;
  font-size: 20px;
  line-height: 30px;
  color: #363636;
}

.about__advantages {
  margin-top: 40px;
  margin-bottom: -40px;
  justify-content: center;
}

.about__advantage {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.about__advantage-icon {
  width: 70px;
  flex-shrink: 0;
  margin-right: 22px;
}

.about__advantage-text {
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #1c1c1c;
  opacity: .9;
}

.certificates {
  margin-top: 100px;
}

.certificates__slider {
  margin-top: 40px;
}

.certificates__item {
  width: 25%;
  padding: 0 21px;
  display: flex;
  justify-content: center;
}

.certificates__scan {
  max-width: 100%;
  height: auto;
}

.team {
  margin-top: 100px;
}

.team__slider {
  margin-top: 40px;
}

.team__item {
  width: 250px;
  margin-right: 33px;
  display: flex;
  justify-content: center;
}

.team__card {
  border: 2px solid #FFE6DA;
  border-radius: 10px;
  width: 250px;
  overflow: hidden;
}

.team__photo-wrapper {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url("../images/team/photo-bg.png") center;
  background-size: cover;
  padding-top: 16px;
}

.team__photo {
  max-width: 100%;
  max-height: 100%;
}

.team__info {
  padding: 0 18px 22px;
  text-align: center;
  color: #1c1c1c;
  opacity: 0.9;
}

.team__name {
  margin-top: 20px;
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

.team__position {
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
}

.other-sections {
  margin-top: 100px;
  padding: 70px 0;
  background: url("../images/other-sections/bg.png");
}

.other-sections__grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 65px;
  grid-row-gap: 65px;
}

.other-sections__image-wrapper {
  box-shadow: 0 0 20px rgba(1, 68, 48, 0.15);
  border-radius: 10px;
  background: #ffffff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.other-sections__image {
  max-width: 100%;
  height: auto;
}

.other-sections__name {
  margin-top: 9px;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  color: #014430;
}

@media (max-width: 1299.98px) {
  .slider-wrapper {
    padding-left: calc(50px + 12px);
    padding-right: calc(50px + 12px);
  }

  .slider-wrapper .flickity-enabled .flickity-prev-next-button.previous {
    left: calc(-50px - 12px);
  }

  .slider-wrapper .flickity-enabled .flickity-prev-next-button.next {
    right: calc(-50px - 12px);
  }
}

@media screen and (max-width: 1199.98px) {
  .header__menu {
    display: none;
  }

  .footer__menu {
    padding-right: 15px;
  }

  .footer__menu::after {
    display: none;
  }

  .footer__menu-item {
    display: none;
  }

  .footer__menu-item_logo {
    display: flex;
  }

  .hero_index {
    background-position: right -182px center;
  }

  .hero__image {
    right: -120px;
  }

  .production__section {
    font-size: 18px;
    line-height: 27px;
    padding: 16px;
  }

  .production__info {
    padding-left: 80px;
  }

  .stages__row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .stages__item {
    padding-left: 15px;
    padding-right: 15px;
  }

  .questions-left__caption {
    font-size: 18px;
    line-height: 27px;
  }

  .products__item {
    width: 25%;
  }

  .product-modal__content {
    width: 960px;
  }

  .about__advantage-text {
    font-size: 23px;
    line-height: 29px;
  }

  .other-sections__grid {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
}

@media screen and (max-width: 991.98px) {
  .title {
    font-size: 32px;
    line-height: 42px;
  }

  .footer__menu-item_logo {
    width: 100%;
    justify-content: center;
  }

  .footer__menu-item_logo img {
    width: 173px;
  }

  .footer__contacts {
    padding-top: 35px;
  }

  .footer__copyright-line {
    margin-top: 40px;
  }

  .footer__copyright {
    width: 100%;
    margin-bottom: 17px;
    margin-right: 0;
  }

  .form-modal__content {
    padding: 45px 30px 50px;
  }

  .form-modal__title {
    font-size: 29px;
    line-height: 39px;
  }

  .form-modal__caption {
    margin-top: 15px;
    font-size: 18px;
    line-height: 28px;
  }

  .form-modal__form {
    margin-top: 30px;
  }

  .hero_index {
    background-position: top 80px center;
    background-size: 120% auto;
  }

  .hero {
    padding: 82px 0 111px;
  }

  .hero__title {
    font-size: 42px;
    line-height: 50px;
  }

  .hero__text {
    margin-top: 30px;
    font-size: 24px;
    line-height: 41px;
  }

  .hero__image {
    transform: unset;
    position: static;
    margin-top: 30px;
    display: block;
    width: 500px;
    max-width: 100%;
  }

  .hero__button {
    margin-top: 45px;
  }

  .services__item {
    width: 33%;
  }

  .services__button {
    margin-top: 42px;
  }

  .production {
    margin-top: 65px;
  }

  .production__tab {
    font-size: 25px;
    line-height: 30px;
  }

  .production__content {
    margin-top: 40px;
  }

  .production__content {
    margin-top: 30px;
  }

  .production__description {
    font-size: 18px;
    line-height: 27px;
  }

  .production__section:not(:last-child) {
    margin-bottom: 20px;
  }

  .production__info {
    padding-left: 40px;
  }

  .production__caption {
    font-size: 18px;
    line-height: 26px;
  }

  .production__button {
    margin-top: 20px;
  }

  .stages__item {
    width: 50%;
  }

  .stages__item:nth-child(2n+1):not(:first-child) .stages__index::before {
    content: "";
    position: absolute;
    width: 100%;
    left: -50%;
    border-bottom: 1px dashed #E33100;
    z-index: -1;
  }

  .advantages {
    margin-top: 85px;
  }

  .advantages__row {
    margin-top: 45px;
  }

  .advantages__icon {
    width: 60px;
  }

  .advantages__right {
    padding-left: 15px;
  }

  .advantages__name {
    font-size: 23px;
    line-height: 28px;
  }

  .partners__slider {
    margin-top: 30px;
  }

  .partners__item {
    width: 160px;
    height: 104px;
    margin-right: 15px;
  }

  .reviews {
    margin-top: 85px;
    padding-top: 40px;
    padding-bottom: 55px;
  }

  .reviews__slider {
    margin-top: 30px;
  }

  .reviews__item {
    width: 33%;
    padding: 0 12px;
  }

  .contacts {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .questions-left {
    background-position: left;
    padding-top: 40px;
  }

  .products {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .products__tabs {
    margin-top: 45px;
  }

  .products__section-description {
    font-size: 18px;
    line-height: 27px;
  }

  .products__item {
    width: 33%;
  }

  .product__name {
    font-size: 22px;
    line-height: 29px;
  }

  .product-modal__content {
    width: 720px;
    flex-direction: column;
  }

  .product-modal__left {
    width: 100%;
  }

  .product-modal__right {
    padding: 20px 20px 50px;
  }

  .product-modal__title {
    display: none;
  }

  .product-modal__title_mobile {
    display: block;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
  }

  .product-modal__description {
    margin-top: 0;
    font-size: 18px;
    line-height: 27px;
  }

  .product-modal__specs_and_btn {
    margin-top: 20px;
  }

  .product-modal__specs {
    font-size: 18px;
  }

  .about__button {
    margin-top: 25px;
  }

  .about__text {
    font-size: 18px;
    line-height: 28px;
  }

  .about__advantages {
    margin-top: 30px;
  }

  .about__advantage-icon {
    width: 60px;
    margin-right: 16px;
  }

  .certificates {
    margin-top: 75px;
  }

  .certificates__slider {
    margin-top: 30px;
  }

  .certificates__item {
    width: 33%;
    padding: 0 12px;
  }

  .team {
    margin-top: 80px;
  }

  .team__slider {
    margin-top: 30px;
  }

  .other-sections {
    margin-top: 80px;
    padding-bottom: 60px;
  }

  .other-sections__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .other-sections__name {
    margin-top: 12px;
    font-size: 23px;
    line-height: 28px;
  }
}

@media screen and (max-width: 991.98px) and (max-width: 575.98px) {
  .stages__item:nth-child(2n+1):not(:first-child) .stages__index::before {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .title {
    font-size: 24px;
    line-height: 35px;
  }

  .subtitle {
    margin-bottom: 10px;
  }

  .slider-wrapper {
    padding-left: 0;
    padding-right: 0;
  }

  .slider-wrapper .flickity-enabled {
    padding-top: 70px;
  }

  .slider-wrapper_no-mobile-buttons .flickity-enabled {
    padding-top: 0;
  }

  .slider-wrapper_no-mobile-buttons .flickity-enabled .flickity-prev-next-button {
    display: none;
  }

  .tooltip {
    width: 280px;
  }

  .tooltip-inner {
    padding: 10px 15px;
  }

  .form-modal__content {
    width: 576px;
    padding: 52px 20px 50px;
  }

  .form-modal__title {
    font-size: 24px;
    line-height: 35px;
  }

  .form-modal__caption {
    margin-top: 11px;
    font-size: 16px;
    line-height: 24px;
  }

  .form-modal__form {
    margin-top: 20px;
  }

  .hero {
    padding: 41px 0 65px;
  }

  .hero__title {
    font-size: 26px;
    line-height: 35px;
  }

  .hero__text {
    font-size: 20px;
    line-height: 35px;
    margin-top: 20px;
  }

  .hero__image {
    margin-top: 20px;
  }

  .hero__button {
    margin-top: 30px;
    width: 100%;
  }

  .hero__decor {
    display: none;
  }

  .services {
    padding: 40px 0 45px;
  }

  .services__button {
    width: 100%;
    margin-top: 34px;
  }

  .production {
    margin-top: 52px;
  }

  .production__tab {
    font-size: 20px;
    line-height: 24px;
  }

  .production__description {
    font-size: 16px;
    line-height: 24px;
  }

  .production__section {
    font-size: 16px;
    line-height: 24px;
    padding: 13px;
  }

  .production__info {
    padding-left: 15px;
    margin-top: 30px;
  }

  .production__image {
    display: none;
  }

  .stages__row {
    margin-top: 40px;
  }

  .stages__index {
    width: 80px;
    height: 80px;
    font-size: 40px;
    line-height: 49px;
  }

  .stages__name {
    font-size: 20px;
    line-height: 25px;
    margin-top: 20px;
  }

  .stages__description {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
  }

  .stages__description {
    text-align: left;
  }

  .advantages {
    margin-top: 70px;
  }

  .advantages__title {
    text-align: left;
  }

  .advantages__row {
    margin-top: 30px;
    margin-bottom: -40px;
  }

  .advantages__item {
    margin-bottom: 40px;
  }

  .advantages__icon {
    width: 50px;
  }

  .advantages__right {
    padding-left: 10px;
  }

  .advantages__name {
    font-size: 20px;
    line-height: 25px;
  }

  .partners {
    margin-top: 36px;
  }

  .partners__subtitle {
    text-align: left;
  }

  .partners__title {
    text-align: left;
  }

  .partners__slider {
    margin-top: 20px;
  }

  .partners__item {
    width: 130px;
    height: 85px;
    margin-right: 10px;
  }

  .reviews {
    margin-top: 70px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  .reviews__slider {
    margin-top: 20px;
  }

  .reviews__item {
    width: 50%;
  }

  .contacts {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .contacts__card {
    padding: 30px 20px 40px;
    border-radius: 5px;
  }

  .contacts__icon {
    margin-top: 0;
  }

  .contacts__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  .questions-left {
    padding-top: 30px;
  }

  .questions-left__caption {
    font-size: 16px;
    line-height: 24px;
  }

  .questions-left__form {
    margin-top: 20px;
  }

  .questions-left__plug {
    height: 275px;
  }

  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .products__decor {
    display: none;
  }

  .products__tabs {
    margin-top: 20px;
  }

  .products__tab {
    width: 130px;
    height: 100px;
    padding: 0 10px 10px;
  }

  .products__content {
    margin-top: 22px;
  }

  .products__section-title {
    font-size: 23px;
    line-height: 29px;
  }

  .products__section-title {
    font-size: 20px;
    line-height: 25px;
  }

  .products__section-description {
    font-size: 16px;
    line-height: 24px;
  }

  .products__grid {
    margin-bottom: -30px;
  }

  .products__item {
    width: 50%;
    margin-bottom: 30px;
  }

  .product__name {
    margin-top: 15px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 600;
    padding: 0;
  }

  .product-modal__content {
    width: 540px;
  }

  .product-modal__title_mobile {
    font-size: 24px;
    line-height: 35px;
  }

  .product-modal__description {
    font-size: 16px;
    line-height: 24px;
  }

  .product-modal__specs {
    font-size: 16px;
  }

  .about {
    padding-bottom: 50px;
  }

  .about__button {
    margin-top: 20px;
  }

  .about__button {
    width: 100%;
  }

  .about__text {
    font-size: 16px;
    line-height: 24px;
  }

  .about__advantages {
    margin-top: 20px;
  }

  .about__advantage-icon {
    width: 50px;
    margin-right: 10px;
  }

  .about__advantage-text {
    font-size: 20px;
    line-height: 25px;
  }

  .certificates {
    margin-top: 50px;
  }

  .certificates__slider {
    margin-top: 20px;
  }

  .certificates__item {
    width: 50%;
  }

  .team {
    margin-top: 60px;
  }

  .team__slider {
    margin-top: 20px;
  }

  .team__item {
    width: calc(50% - 10px);
    margin-right: 20px;
  }

  .other-sections {
    margin-top: 60px;
    padding-bottom: 50px;
  }

  .other-sections__grid {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .other-sections__name {
    margin-top: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
  }
}

@media (max-width: 767.98px) {
  .slider-wrapper .flickity-enabled .flickity-prev-next-button {
    top: 0;
    transform: none;
  }

  .slider-wrapper .flickity-enabled .flickity-prev-next-button.previous {
    left: calc(50% - 60px);
  }

  .slider-wrapper .flickity-enabled .flickity-prev-next-button.next {
    right: calc(50% - 60px);
  }
}

@media screen and (max-width: 575.98px) {
  .header__row {
    height: 90px;
  }

  .header__logo {
    max-height: 60px;
  }

  .header__phone {
    width: 40px;
    height: 40px;
    justify-content: center;
  }

  .header__phone::before {
    margin-right: 0;
  }

  .header__number {
    display: none;
  }

  .header__callback {
    display: none;
  }

  .form-modal__content {
    width: 100%;
  }

  .services__item {
    width: 100%;
  }

  .stages__subtitle {
    text-align: left;
  }

  .stages__title {
    text-align: left;
  }

  .stages__item {
    width: 100%;
    flex-direction: row;
    align-items: start;
  }

  .stages__item:not(:last-child) .stages__index::after {
    left: 55px;
    top: 0;
    width: unset;
    height: 100%;
    border-bottom: none;
    border-left: 1px dashed #E33100;
  }

  .stages__right {
    align-items: start;
    padding-left: 20px;
  }

  .stages__name {
    margin-top: 0;
    text-align: left;
  }

  .reviews__item {
    width: 100%;
    padding: 0;
  }

  .products__item {
    width: 100%;
  }

  .product-modal__content {
    width: 100%;
  }

  .product-modal__specs_and_btn {
    margin-top: 10px;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
  }

  .product-modal__button {
    width: 100%;
    margin-top: 30px;
  }

  .certificates__item {
    width: 100%;
    padding: 0;
  }

  .team__item {
    width: 100%;
    margin-right: 0;
  }

  .other-sections__grid {
    grid-template-columns: 1fr;
  }
}