<div class="products">
    <img src="images/products/hops-top.png" class="products__decor products__decor_top" alt="">
    <img src="images/products/hops-left.png" class="products__decor products__decor_left" alt="">
    <img src="images/products/hops-right.png" class="products__decor products__decor_right" alt="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="subtitle">Наши партнеры</div>
                <h2 class="title">Мы являемся дистрибьютором<br>следующих компаний</h2>
                <div class="products__tabs list-group" role="tablist">
                    <a class="products__tab active" data-toggle="list" href="#products-section-1" role="tab"
                       aria-controls="products-section-1">
                        <img src="images/products/logo.svg" class="products__logo" alt="">
                    </a>
                    @@for (var i = 2; i <= 4; i++) {
                        <a class="products__tab" data-toggle="list" href="#products-section-`+i+`" role="tab"
                           aria-controls="products-section-`+i+`">
                            <img src="images/products/logo.svg" class="products__logo" alt="">
                        </a>
                    }
                </div>
                <div class="products__content tab-content">
                    <div class="tab-pane fade show active" id="products-section-1" role="tabpanel">
                        <div class="products__section">
                            <div class="products__section-title">О заводе</div>
                            <div class="products__section-description">
                                Современная и высокотехнологичная пивоварня Казахстана - “Первый Пивзавод”.
                                Основанный в далеком 1858 году, пивзавод дал старт развитию пивоваренной отрасли
                                Казахстана - вот уже более 150 лет они варят для вас вкусное качественное пиво,
                                соблюдая классические рецепты, учитывая современные тенденции и традиции пивоварения.
                            </div>
                        </div>
                        <div class="products__section">
                            <div class="products__section-title">Певко</div>
                            <div class="products__grid">
                                @@for (var i = 0; i < 9; i++) {
                                    <div class="products__item product">
                                        <div class="product__photo-wrapper" style="background-image: url('images/products/product-layout.png')">
                                            <a data-fancybox data-src="#product-modal" href="javascript:;">
                                                <img src="images/products/product.png" class="product__photo" alt="">
                                            </a>
                                        </div>
                                        <div class="product__name">
                                            <a data-fancybox data-src="#product-modal" href="javascript:;">
                                                Жигули Барное
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="products__section">
                            <div class="products__section-title">Напитки</div>
                            <div class="products__grid">
                                @@for (var i = 0; i < 2; i++) {
                                    <div class="products__item product">
                                        <div class="product__photo-wrapper" style="background-image: url('images/products/product-layout-2.png')">
                                            <a data-fancybox data-src="#product-modal" href="javascript:;">
                                                <img src="images/products/product-2.png" class="product__photo" alt="">
                                            </a>
                                        </div>
                                        <div class="product__name">
                                            <a data-fancybox data-src="#product-modal" href="javascript:;">
                                                Gorilla
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @@for (var i = 2; i <= 4; i++) {
                        <div class="tab-pane fade" id="products-section-`+i+`" role="tabpanel">
                            <div class="products__section">
                                <div class="products__section-title">Тут могло быть ваше пиво</div>
                                <div class="products__section-description">
                                    Но его пока не завезли
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-modal" id="product-modal">
    <div class="product-modal__content">
        <div class="product-modal__title product-modal__title_mobile">Жигули Барное</div>
        <div class="product-modal__left">
            <img src="images/products/decor-left.png" alt="" class="product-modal__decor-left">
            <img src="images/products/decor-right.png" alt="" class="product-modal__decor-right">
            <img src="images/products/product-modal.png" class="product-modal__photo" alt="">
        </div>
        <div class="product-modal__right">
            <div class="product-modal__title">Жигули Барное</div>
            <div class="product-modal__description">
                «Жигули Барное» – пиво для культурного отдыха.
                «Жигули Барное» варится по фирменному рецепту 1968 года.
                Пиво из легендарного московского ресторана «Жигули», воплотившее в себе лучшие традиции XX века.
            </div>
            <div class="product-modal__specs_and_btn">
                <div class="product-modal__specs">
                    <div class="product-modal__spec">Крепость: 4,8%</div>
                    <div class="product-modal__spec">Плотность: 12%</div>
                </div>
                <button class="product-modal__button button">Узнать цену</button>
            </div>
        </div>
    </div>
</div>