*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  text-align: left;
}

a, a:hover {
  text-decoration: unset;
  color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: unset;
  line-height: unset;
  margin: unset;
  padding: unset;
}

//font-family: 'Montserrat', sans-serif;
//font-family: 'Roboto', sans-serif;

.title {

  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  color: $almost-black;
  text-align: center;

  @include laptop {
    font-size: 32px;
    line-height: 42px;
  }

  @include tablet {
    font-size: 24px;
    line-height: 35px;
  }

  &_left {
    text-align: left;
  }

}

.subtitle {

  margin-bottom: 14px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: $dark-green;
  text-align: center;

  @include tablet {
    margin-bottom: 10px;
  }

  &_left {
    text-align: left;
  }

}

.button {

  display: flex;
  width: max-content;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  color: $white;
  padding: 0 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background: $green-gradient;
  border: none;

  &:hover {
    background: $green;
    color: $white;
    cursor: pointer;
  }

  &:active {
    background: $dark-green;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &_download {

    &::before {
      content: '';
      width: 16px;
      height: 16px;
      background: url("../images/button/download.svg") center no-repeat;
      background-size: contain;
      margin-right: 10px;
    }

  }

}

.slider-wrapper {

  padding-left: 30px;
  padding-right: 30px;

  @media (max-width: 1299.98px) {
    padding-left: calc(50px + 12px);
    padding-right: calc(50px + 12px);
  }

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }

  .flickity-enabled {

    @include tablet {
      padding-top: 70px;
    }

    .flickity-prev-next-button {

      width: 50px;
      height: 50px;
      border-radius: 5px;
      background: transparent;
      border: 2px solid #01C68B;
      color: #01C68B;

      &.previous {
        left: calc(-50px - 30px);
      }

      &.next {
        right: calc(-50px - 30px);
      }

      @media (max-width: 1299.98px) {

        &.previous {
          left: calc(-50px - 12px);
        }

        &.next {
          right: calc(-50px - 12px);
        }

      }

      @media (max-width: 767.98px) {

        top: 0;
        transform: none;

        &.previous {
          left: calc(50% - 60px);
        }

        &.next {
          right: calc(50% - 60px);
        }

      }

      .flickity-button-icon {
        width: 15px;
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:hover {
        background: $green-gradient;
        color: $white;
        border: none;
        width: 50px;
        height: 50px;
      }

      &:active {
        background: $dark-green;
        opacity: 1;
      }

      &:disabled {
        opacity: .3;
        background: transparent;
        color: $green;
      }

    }

  }

  &_no-mobile-buttons {

    .flickity-enabled {

      @include tablet {
        padding-top: 0;
      }

      .flickity-prev-next-button {

        @include tablet {
          display: none;
        }

      }

    }

  }

}

.fade:not(.show) {
  opacity: 0;
}

.fade {
  transition: opacity .15s linear;
}

.tab-content>.tab-pane {
  display: none;
}

.tab-content>.active {
  display: block;
}

.tooltip {

  width: 390px;
  background: $white;
  box-shadow: 0 10px 20px rgba(1, 68, 48, 0.25);

  @include tablet {
    width: 280px;
  }

  &-inner {

    padding: 20px 30px;
    font-size: 13px;
    line-height: 20px;
    color: $almost-black;

    @include tablet {
      padding: 10px 15px;
    }

  }

}

.fancybox-content {
  padding: 0;
}

.fancybox-close-small {

  width: 70px;
  height: 70px;
  padding: 15px !important;

  svg {

    path {
      fill: #808080;
    }

  }

}

.fancybox-bg {
  background: $dark-green;
}

.fancybox-is-open .fancybox-bg {
  opacity: .7;
}