.header {

  background: $light-green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  &__row {

    height: 100px;

    @include phone {
      height: 90px;
    }

  }

  &__logo {

    max-height: 77px;

    @include phone {
      max-height: 60px;
    }

  }

  &__menu {

    display: flex;
    justify-content: center;

    @include desktop {
      display: none;
    }

  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__phone {

    display: flex;
    align-items: center;

    /*@include phone {
      width: 40px;
      height: 40px;
      justify-content: center;
    }*/

    &::before {

      content: "";
      width: 20px;
      height: 20px;
      background: url("../images/header/phone-icon.svg") center no-repeat;
      background-size: contain;
      margin-right: 15px;

      @include phone {
        //margin-right: 0;
        width: 18px;
        height: 18px;
        margin-right: 10px;
      }

    }

  }

  &__number {

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $almost-black;

    @include phone {
      /*display: none;*/
      font-size: 17px;
    }

  }

  &__callback {

    margin-top: 3px;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    color: $green;

    @include phone {
      /*display: none;*/
      margin-top: 7px;
    }

    &:hover {
      color: $green;
      text-decoration: none;
    }

  }

}