.header {

  background: $light-green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

  &__row {
    height: 100px;
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__phone {

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $almost-black;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      width: 20px;
      height: 20px;
      background: url("../images/header/phone-icon.svg") center no-repeat;
      background-size: contain;
      margin-right: 15px;
    }

  }

  &__callback {

    margin-top: 3px;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    color: $green;

    &:hover {
      color: $green;
      text-decoration: none;
    }

  }

}