.products {

  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  @include laptop {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__decor {

    position: absolute;

    @include tablet {
      display: none;
    }

    &_top {
      top: 0;
      right: 0;
    }

    &_left {
      top: 40%;
      left: 0;
    }

    &_right {
      right: 0;
      bottom: 0;
    }

  }

  &__tabs {

    margin-top: 70px;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    border-bottom: 1px solid #F2F2F2;

    @include laptop {
      margin-top: 45px;
    }

    @include tablet {
      margin-top: 20px;
    }

  }

  &__tab {

    width: 25%;
    flex-shrink: 0;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin-bottom: -1px;
    border-bottom: 3px solid transparent;

    @include tablet {
      width: 130px;
      height: 100px;
      padding: 0 10px 10px;
    }

    &.active {
      border-bottom-color: $orange;
    }

  }

  &__logo {
    max-width: 100%;
    height: auto;
  }

  &__content {

    margin-top: 30px;

    @include tablet {
      margin-top: 22px;
    }

  }

  &__section {

    &:not(:last-child) {
      margin-bottom: 50px;
    }

  }

  &__section-title {

    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: $dark-gray;

    @include tablet {
      font-size: 23px;
      line-height: 29px;
    }

    @include tablet {
      font-size: 20px;
      line-height: 25px;
    }

  }

  &__section-description {
    font-size: 20px;
    line-height: 30px;
    color: $dark-gray;
    margin-top: 20px;

    @include laptop {
      font-size: 18px;
      line-height: 27px;
    }

    @include tablet {
      font-size: 16px;
      line-height: 24px;
    }

  }

  &__grid {

    display: flex;
    flex-wrap: wrap;
    margin: 30px -12px -40px;

    @include tablet {
      margin-bottom: -30px;
    }

  }

  &__item {

    padding: 0 12px;
    margin-bottom: 40px;
    width: 20%;

    @include desktop {
      width: 25%;
    }

    @include laptop {
      width: 33%;
    }

    @include tablet {
      width: 50%;
      margin-bottom: 30px;
    }

    @include phone {
      width: 100%;
    }

  }

}

.product {

  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: 184px 184px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__photo {
    max-width: 100%;
    max-height: 100%;
  }

  &__name {

    margin-top: 20px;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    color: $dark-green;
    padding: 0 20px;

    @include laptop {
      font-size: 22px;
      line-height: 29px;
    }

    @include tablet {
      margin-top: 15px;
      font-size: 20px;
      line-height: 25px;
      font-weight: 600;
      padding: 0;
    }

  }

}

.product-modal {

  display: none;

  &__content {

    width: 1000px;
    display: flex;
    align-items: start;
    background: $light-green;
    overflow: hidden;
    position: relative;

    @include desktop {
      width: 960px;
    }

    @include laptop {
      width: 720px;
      flex-direction: column;
    }

    @include tablet {
      width: 540px;
    }

    @include phone {
      width: 100%;
    }

  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url("../images/products/modal-close.svg") center no-repeat;
    background-size: contain;
  }

  &__left {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 348px;
    flex-shrink: 0;

    @include laptop {
      width: 100%;
    }

  }

  &__decor-left {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__decor-right {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__photo {
    position: relative;
    width: 328px;
    max-width: 100%;
    height: auto;
    z-index: 2;
  }

  &__right {
    padding: 40px 70px 70px 24px;

    @include laptop {
      padding: 20px 20px 50px;
    }

  }

  &__title {
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
    color: $almost-black;

    @include laptop {
      display: none;
    }

    &_mobile {

      display: none;
      text-align: center;
      margin-top: 60px;
      margin-bottom: 20px;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

      @include laptop {
        display: block;
        font-weight: 600;
        font-size: 30px;
        line-height: 40px;
      }

      @include tablet {
        font-size: 24px;
        line-height: 35px;
      }

    }

  }

  &__description {

    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    color: $dark-gray;

    @include laptop {
      margin-top: 0;
      font-size: 18px;
      line-height: 27px;
    }

    @include tablet {
      font-size: 16px;
      line-height: 24px;
    }

  }

  &__specs_and_btn {

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;

    @include laptop {
      margin-top: 20px;
    }

    @include phone {
      margin-top: 10px;
      flex-direction: column;
      align-items: unset;
      justify-content: unset;
    }

  }

  &__specs {

    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: $dark-gray;
    margin-right: 20px;

    @include laptop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
    }

  }

  &__spec {

    &:not(:last-child) {
      margin-bottom: 10px;
    }

  }

  &__button {

    @include phone {
      width: 100%;
      margin-top: 30px;
    }

  }

}