.team {

  margin-top: 100px;

  @include laptop {
    margin-top: 80px;
  }

  @include tablet {
    margin-top: 60px;
  }

  &__slider {

    margin-top: 40px;

    @include laptop {
      margin-top: 30px;
    }

    @include tablet {
      margin-top: 20px;
    }

  }

  &__item {
    width: 250px;
    margin-right: 33px;
  }

  &__card {
    border: 2px solid #FFE6DA;
    border-radius: 10px;
    width: 250px;
    overflow: hidden;
  }

  &__photo-wrapper {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url("../images/team/photo-bg.png") center;
    background-size: cover;
    padding-top: 16px;
  }

  &__photo {
    max-width: 100%;
    max-height: 100%;
  }

  &__info {
    padding: 0 18px 22px;
    text-align: center;
    color: $almost-black;
    opacity: 0.9;
  }

  &__name {
    margin-top: 20px;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
  }

  &__position {
    margin-top: 10px;
    font-size: 20px;
    line-height: 30px;
  }

}