@mixin desktop {
  @media screen and (max-width: 1199.98px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 991.98px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 767.98px) {
    @content;
  }
}
@mixin phone {
  @media screen and (max-width: 575.98px) {
    @content;
  }
}

$white: #ffffff;
$light-green: #E5FFF7;
$green: #00976A;
$dark-green: #014430;
$orange: #E33100;
$almost-black: #1c1c1c;
$dark-gray: #363636;

$green-gradient: linear-gradient(221.11deg, #01C68B 0%, #004933 100%);