.services {

  padding: 50px 0 56px;
  background: url("../images/services/bg.png");

  @include tablet {
    padding: 40px 0 45px;
  }

  &__row {
    margin: 40px -15px -50px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
  }

  &__item {

    padding-left: 15px;
    padding-right: 15px;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;

    @include laptop {
      width: 33%;
    }

    @include phone {
      width: 100%;
    }

  }

  &__icon {
    width: 100px;
    max-width: 100%;
  }

  &__caption {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  &__button {

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    @include laptop {
      margin-top: 42px;
    }

    @include tablet {
      width: 100%;
      margin-top: 34px;
    }

  }

}